@charset "UTF-8";
   header {
            background-color: #007bff; /* Blue background color */
            color: white;
            padding: 20px 0;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
        }

        /* Title styling */
        h1 {
            font-size: 36px;
        }

        /* Navigation styling */
        nav ul {
            list-style: none;
            padding: 0;
        }
         logo {
            margin-right: 20px; /* Add margin to push it to the right */
        }


        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            transition: color 0.3s;
        }

        nav ul li a:hover {
            color: #f7f7f7; /* Light gray color on hover */
        }